.search {
  width: 100%;
  margin-top: 0;
}
// .swiper {
//   height: 100%;
// }
.tabs {
  &:extend(.search);
  .category-tab {
    width: 60rpx;
    .product {
      padding: 10rpx 20rpx;
    }
  }

}